{% extends "header_footer.html" %}

{% block title %}yA Flix | Login Page{% endblock title %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="container my-4 login_container">
        <h2 class="text-center">Login Form</h2>
        {{session['user']}}
        <form action="login", method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <hr>
            <div class="mb-3 text-center">
                <p>Don't have an account <a href="/register">Sign up now</a></p>
            </div>
        </form>
    </div>
{% endblock content %}